@using Eventos.IO.Application.ViewModels
@model EventoViewModel

@{
    ViewData["Title"] = Model.Nome;
}

<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>
    <h4>@Model.DescricaoCurta</h4>
</div>

<div class="container">
    <div>
        <div class="row">
            @Html.DisplayFor(model => model.DescricaoLonga)
        </div>
        <hr />
        <br />
        <div class="row">
            <b>Quando:</b><br />
            @Model.DataInicio.ToShortDateString() até @Model.DataFim.ToShortDateString()
        </div>
        <br />
        <div class="row">
            <b>Valor:</b><br />
            @{
                if (Model.Gratuito)
                {
                    @Html.DisplayName("Gratuito")
                }
                else
                {
                    @Html.DisplayFor(model => model.Valor)
                }
            }
        </div>
        <br />
        <div class="row">
            <b>Tipo de Evento:</b><br />
            @{ var categoria = new CatagoriaViewModel().ListarCategorias().FirstOrDefault(c => c.Id == Model.CategoriaId);
                @Html.Raw(categoria.Nome)
            }
        </div>
        <br />
        <div class="row">
            <b>Orgazinado por:</b><br />
            @Html.DisplayFor(model => model.NomeEmpresa)
        </div>
        <br />
        <div class="row">
            <b>Onde?</b><br />
            @{
                if (Model.Online)
                {
                    @Html.DisplayName("Online")
                }
                else
                {
                    <b>@Html.DisplayNameFor(model => model.Endereco.Logradouro):</b>
                    @Html.DisplayFor(model => model.Endereco.Logradouro)
                    <br />
                    <b>@Html.DisplayNameFor(model => model.Endereco.Numero):</b>
                    @Html.DisplayFor(model => model.Endereco.Numero)
                    <br />
                    <b>@Html.DisplayNameFor(model => model.Endereco.Bairro):</b>
                    @Html.DisplayFor(model => model.Endereco.Bairro)
                    <br />
                    <b>@Html.DisplayNameFor(model => model.Endereco.Complemento):</b>
                    @Html.DisplayFor(model => model.Endereco.Complemento)
                    <br />
                    <b>@Html.DisplayNameFor(model => model.Endereco.Cidade):</b>
                    @Html.DisplayFor(model => model.Endereco.Cidade)
                    <br />
                    <b>@Html.DisplayNameFor(model => model.Endereco.CEP):</b>
                    @Html.DisplayFor(model => model.Endereco.CEP)
                    <br />
                    <b>@Html.DisplayNameFor(model => model.Endereco.Estado):</b>
                    @Html.DisplayFor(model => model.Endereco.Estado)
                }
            }
        </div>
    </div>
</div>
<br />
<div>
    <a href="javascript:history.go(-1)" class="btn btn-info">Voltar</a>
</div>
